<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog Website</title>
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Rubik:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/index-styles.css" />
  </head>
  <body>
    <nav>
      <ul>
        <li class="blog">Blog Website</li>
        <li class="home">Home</li>
        <li class="login"><a href="/login">Login</a></li>
      </ul>
    </nav>
    <div class="container">
      <%allPost.forEach(function(item){%>

      <div class="post">
        <div class="title">
          <h1><%= item.reqTitle %></h1>
        </div>
        <p class="content">
          <%= item.reqContent.substring(0,50)%>...<a
            class="more"
            href="/posts/<%=item.reqTitle%>"
            >more</a
          >
        </p>
        <p class="postby">post by <%= item.author%></p>
      </div>
      <%})%>
    </div>
  </body>
</html>
