<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog Website</title>
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Rubik:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/login-styles.css" />
  </head>
  <body>
    <nav>
      <ul>
        <li class="blog">Blog Website</li>
        <li class="home"><a href="/">Home</a></li>
        <li class="login">Login</li>
      </ul>
    </nav>

    <form action="/login" method="post">
      <div class="container">
        <label><b>Username</b></label>
        <input
          type="text"
          placeholder="Enter Username"
          name="username"
          required
        />

        <label><b>Password</b></label>
        <input
          type="password"
          placeholder="Enter Password"
          name="password"
          required
        />

        <button type="submit">Login</button>
        <p class="flash"><%= message %></p>
        <a href="/register" class="register">Register</a>
      </div>
    </form>
  </body>
</html>
