<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog Website</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Rubik:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/postsecret-styles.css" />
  </head>
  <body>
    <nav>
      <ul>
        <li class="blog">Blog Website</li>
        <li class="home"><a href="/homesecret">Home</a></li>
        <li class="Mypost"><a href="/mypost">My post</a></li>
        <li class="create"><a href="/create">Create</a></li>
        <li class="name">name : <%= name %></li>
        <li class="login"><a href="/logout">logout</a></li>
      </ul>
    </nav>
    <div class="container">
      <h1><%=result.title%></h1>
      <p><%=result.content%></p>
      <p class="postby">post by <%= postname %></p>
    </div>
  </body>
</html>
