* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f5f5f5;
  font-family: "Rubik", sans-serif;
}
nav {
  background-color: #406882;
  padding: 15px 25px;
}
ul {
  display: flex;
  gap: 25px;
  align-items: center;
}
li {
  list-style-type: none;

  color: white;
}
h1 {
  font-weight: 500;
  line-height: 1.5;
  font-size: 24px;
}

button {
  border: none;
  cursor: pointer;
  background: none;
}
i {
  color: red;
  margin-left: 24px;
  font-size: 16px;
}
.login a {
  color: white;
  text-decoration: none;
}
.home {
  margin-left: auto;
}
.login {
  background-color: #516beb;
  padding: 5px 15px;
  border-radius: 9px;
}
.blog {
  font-size: 18px;
}
.container {
  width: 80%;
  margin: 24px auto;
  color: #333;
}
.more {
  text-decoration: none;
}
.post {
  margin-bottom: 24px;
  position: relative;
}
.title {
  display: flex;
  align-items: center;
}

.postby {
  position: absolute;
  bottom: -15px;
  left: 25%;
  font-size: 14px;
  color: #777;
}
@media only screen and (max-width: 450px) {
  .postby {
    position: absolute;
    bottom: -30px;
    left: 75%;
  }
}
