* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f5f5f5;
  font-family: "Rubik", sans-serif;
}
nav {
  background-color: #406882;
  padding: 15px 25px;
}
ul {
  display: flex;
  gap: 25px;
  align-items: center;
}
li {
  list-style-type: none;
  font-family: "Rubik", sans-serif;
  color: white;
}
h1 {
  font-weight: 500;
  line-height: 1.5;
  font-size: 24px;
}
.home a {
  color: white;
  text-decoration: none;
}
.login a {
  color: white;
  text-decoration: none;
}
.home {
  margin-left: auto;
}
.login {
  background-color: #516beb;
  padding: 5px 15px;
  border-radius: 9px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #04aa6d;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.container {
  width: 60%;
  margin: 24px auto;
}
.register {
  display: block;
  text-align: end;
  color: #333;
  text-decoration: none;
}
.flash {
  color: red;
}
